# Dependencies
/node_modules

# Build output
/dist
/.vitepress/dist
/.temp
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
pnpm-error.log*

# OS specific files
.DS_Store
Thumbs.db