@font-face {
  font-family: "HeadlinesRegular";
  src: url("../../assets/fonts/HEADOH.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.typesimple {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 140px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  box-sizing: border-box;
  z-index: 7;
  padding: 0 2rem;
  border-bottom: 0.5px solid rgba(121, 121, 121, 0.6);
}

.brand {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon {
  width: 100%;
  max-width: 350px;
  object-fit: contain;
}

.navLinks {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3rem;
  font-family: "HeadlinesRegular", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: white;
}

.navLink {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.navLabel {
  cursor: pointer;
  line-height: 1.6;
  transition: color 0.2s ease;
  color: white;
  text-decoration: none;
}

.navLabel:hover {
  color: #8f0000;
}

/* 🔽 SOLO MOBILE */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1100;
}

.hamburger span {
  width: 28px;
  height: 3px;
  background: white;
  border-radius: 3px;
}

.mobileMenu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 70%;
  max-width: 260px;
  background: black;
  display: flex;
  flex-direction: column;
  padding: 6rem 2rem;
  gap: 2rem;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1050;
}

.mobileMenu a {
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.mobileMenu a:hover {
  color: #8f0000;
}

.mobileMenu.open {
  transform: translateX(0);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1040;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .navLinks {
    display: none; /* ocultamos links normales */
  }

  .hamburger {
    display: flex; /* mostramos hamburguesa */
  }
}
