@import "tailwindcss";

@font-face {
  font-family: "HeadlinesRegular";
  src: url("/assets/fonts/HEADOH.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@layer utilities {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-scroll {
    animation: scroll 20s linear infinite;
  }
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}
body {
  background-color: black;
}
